<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp9.Properties.Settings._302PRG_FrolovConnectionString"
            connectionString="Data Source=311-SERVER\SQLEXPRESSWS;Initial Catalog=302PRG_Frolov;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>